* {
  font-family: mono, monospace;
  font-size: 0.9rem;
  line-height: 2rem;
}

circle {
  cursor: pointer;
}

.card {
  width: auto;
  z-index: 2;
  border-color: #F4F4F4;
  box-shadow: 0 0 15px 5px #F4F4F4;
}

.card p, .label {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

#landing {
  z-index: 1;
}

.main {
  opacity: 0;
  padding-top: 25%;
}

ol>li {
  padding-bottom: 2rem;
}

ul>li {
  padding-top: 1rem;
}

small {
  font-size: 0.75rem;
}

.next:hover, .prev:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  cursor: pointer;
}

@font-face {
  font-family: mono;
  src: url(./fonts/andale.ttf);
}