* {
  font-family: mono, monospace;
}

svg {
  position: fixed;
}

circle {
  cursor: pointer;
}

.card {
  width: auto;
  font-size: 0.7rem;
  z-index: 2;
}

.card p, .label {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

#landing {
  z-index: 1;
  margin-top: 5%;
}

#sidebar {
  height: 100vh;
  z-index: 1;
}

p, a, ol, li {
  font-size: 0.9rem;
}

ol li {
  padding-top: 1.5rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
}

@font-face {
  font-family: mono;
  src: url(./fonts/andale.ttf);
}